@model IEnumerable<lab_2_web_design.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="well">Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-lg" })
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAdress)
        </th>
        <th>
            Has Yarn?
        </th>
        <th>
            Edit|Details|Delete
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    
    <tr class="@(@item.hasYarn ? "success" : "") ">
    @*<tr style='background-color: @(@item.hasYarn ? "green" : "pink")'>*@
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasYarn)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |*@
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class="btn-sm"}) 
            @*@Html.ActionLink("Details", "Details", new { id = item.UserId }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.UserId },  new { @class="btn-sm" }) 
            @*@Html.ActionLink("Delete", "Delete", new { id = item.UserId })*@
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId }, new { @class="btn-sm" })
        </td>
    </tr>
}

</table>
@section scripts {
    <script>
        $(document).ready(function () {           
            $("tr").click(function () {
                $(this).hide();
            });
        });
    </script>
}
